:root{
  --clr-dark-theme-background-200: hsl(0, 0%, 43%);
  --clr-dark-theme-background-300: hsl(0, 0%, 33%);
  --clr-dark-theme-background-400: hsl(0, 0%, 13%);
  --clr-dark-theme-background-500: hsl(0, 0%, 5%);
  --clr-dark-theme-green-200: hsl(120, 100%, 80%);
  --clr-dark-theme-green-300: hsl(120, 100%, 60%);
  --clr-dark-theme-green-400: hsl(120, 100%, 40%);
  --clr-dark-theme-green-500: hsl(120, 100%, 30%);

}

body {
  background-color: var(--clr-dark-theme-background-500);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

* {
  font-family: 'Roboto', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--clr-dark-theme-background-500);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::selection {
  color: white;
  background: var(--clr-dark-theme-green-500);
}
::-moz-selection {
  color: white;
  background: var(--clr-dark-theme-green-500);
}
