.thread-item {
  color: white;
  width: 60vw;
  min-height: 10vh;
  margin: 0 1rem .6rem 1rem;
  border-radius: 5px;
  background-color: var(--clr-dark-theme-background-400);
  transition: transform 250ms ease-in-out;
  box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
}

.thread-item:hover {
  transform: scale(1.05);
  transition: transform 250ms ease-in-out;
}

.thread-item:hover h5 a,
.thread-item:hover .green {
  color: var(--clr-dark-theme-green-200);
}

h5 {
  word-break: break-all;
  font-size: 1.5em;
  font-weight: bold;
  padding: 1rem;
  margin: 0;
}

h5 a {
  color: var(--clr-dark-theme-green-500);
  text-decoration: none;
}


hr {
  padding: 0;
  margin: 0;
}

.content {
  display: grid;
  grid-template-columns: 43vw auto;
}

.description {
  word-break: break-all;
  font-size: 1rem;
  color: rgb(228, 228, 228);
  padding: .5em;
  height: auto;
  padding: 1rem;
}

.date {
  padding: .6rem;
  color: rgb(228, 228, 228);
  height: auto;
  border-left: 1px solid white;
  right: 0;
}

.user-name {
  text-decoration: none;
  color: white;
}

.green {
  color: var(--clr-dark-theme-green-500);
}

@media screen and (max-width: 1300px) {
  .thread-item {
    width: 69vw;
  }
}
