header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  width: 100%;
  background-color: var(--clr-dark-theme-background-400);
  box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
}

.logo {
  display: inline-flex;
  color: white;
  text-shadow: yellow;
  text-decoration: none;
  font-size: 2em;
  margin: .5em;
  transition: transform 200ms ease-in-out;
}

.Z {
  color: var(--clr-dark-theme-green-200);
  transition: transform 200ms ease-in-out;
}

.logo:hover > .Z {
  transform: translateX(-.15em) scale(1.2);
  transition: transform 200ms ease-in-out;
  text-shadow: 0 0 5px var(--clr-dark-theme-green-300);
}

.logo:hover {
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}

nav {
  position: absolute;
  text-align: left;
  left: 0;
  background-color: var(--clr-dark-theme-background-400);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: var(--clr-dark-theme-green-200);
}

.nav-toggle {
  display: none;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle-label {
  position: absolute;
  height: 16px;
  width: 2em;
  top: 40%;
  left: 0;
  color: white;
  margin-left: 1em;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background-color: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  top: 14px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.nav-toggle-label:hover > span,
.nav-toggle-label:hover > span::before,
.nav-toggle-label:hover > span::after {
  background-color: var(--clr-dark-theme-green-200) !important;
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
      display: none;
  }

  header {
      display: grid;
      grid-template-columns: auto minmax(600px, 3fr);
  }

  .logo {
      grid-column: 1;
      margin: .5em 0 .5em 2em;
  }

  nav {
      all: unset;
      grid-column: 2;
      display: flex;
      justify-content: flex-end;
      align-items: center;
  }

  nav a {
      position: relative;
      opacity: 1;
  }

  nav a::before {
      content: '';
      display: block;
      position: absolute;
      height: 5px;
      background-color: var(--clr-dark-theme-green-200);
      bottom: -.5em;
      left: 0;
      right: 0;
      transform: scale(0, 1);
      transition: transform 200ms ease-in-out;
  }

  nav a:hover::before {
      transform: scale(1, 1);
  }

  nav ul {
      display: flex;
      margin-right: 2em;
  }

  nav li {
      margin: 0 0 0 2em;
  }
}
