.navbar {
  position: sticky;
  width: 100vw;
  height: 5rem;
  background-color: var(--clr-dark-theme-background-400);
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.75);
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
  align-items: center;
}

.navbar-item {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-item:last-child {
  margin-left: auto;
}

.user-controls {
  margin-right: 2rem;
  padding: 1rem;
}

.user-controls > a {
  position: relative;
  margin-left: 1.2rem;
  text-transform: uppercase;
  padding: 0 0 0.5rem 0;
}

.user-controls > a:hover {
  color: var(--clr-dark-theme-green-200);
}

.user-controls > a::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  background-color: var(--clr-dark-theme-green-200);
  bottom: 0;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transition: transform 200ms ease-in-out;
}

.user-controls a:hover::before {
  transform: scale(1, 1);
}

.logo {
  display: flex;
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
  margin-left: 2rem;
  transition: transform 200ms ease-in-out;
}

.Z {
  color: var(--clr-dark-theme-green-200);
  transition: transform 200ms ease-in-out;
}

.logo:hover .Z {
  transform: translateX(-0.15em) scale(1.2);
  transition: transform 200ms ease-in-out;
  text-shadow: 0 0 5px var(--clr-dark-theme-green-300);
}

.logo:hover {
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}

.dropdown {
  color: white;
  text-transform: none !important;
  cursor: pointer;
  padding: 1rem;
}

.dropdown-menu {
  position: absolute;
  transform: translate(1rem, 0.5rem);
  display: none;
  flex-direction: column;
  min-height: 10vh;
  width: 100%;
  border-radius: 10px;
  background-color: var(--clr-dark-theme-background-400);
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.75);
  z-index: 100000 !important;
}

.open {
  display: flex;
}

.dropdown-item {
  border-radius: 15px;
  position: relative;
  padding: 1rem;
}

.dropdown-item a {
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: var(--clr-dark-theme-green-500);
}

.logout:hover {
  background-color: tomato;
}
