<div class ="thread-detail">
  <div class="thread-item">
    <div class="title">
      <h5>{{ thread.Title }}</h5>
    </div>
    <hr>
    <div class="content">
      <div class="description"> {{ thread.Content }}</div>
      <div class="date"> <span class="green"><br>Created on: </span>{{ thread.CreationDate }} <br> <br>
         <span class="green">by: </span>
          <a class="user-name" routerLink="/user-detail/{{ thread.UserId }}">{{ thread.Username }}</a>
      </div>
    </div>
  </div>
  <h3 class="replies-header">Replies: </h3>
  <div class="post-list">
      <div *ngFor="let threadPost of thread.Posts" class="post-item">
        <div class="content">
          <div class="description"> {{ threadPost.Content }}</div>
          <div class="date"> <span class="green"><br>Created on: </span>{{ threadPost.CreationDate }}<br> <br>
             <span class="green">by: </span>
             <a class="user-name" routerLink="/user-detail/{{ threadPost.UserId }}">{{ threadPost.Username }}</a>
          </div>
        </div>
    </div>
  </div>
  <form *ngIf="loggedIn()" [formGroup]="postForm" class="create-post-section" (ngSubmit)="onSubmit()">
    <textarea placeholder="Write your answer here..." class="create-post-textarea" formControlName="Content"></textarea>
    <button type="submit" [disabled]="!isValid()" class="btn btn-submit">Create a post</button>
  </form>
</div>
