<div class ="thread-detail">
  <div class="thread-item">
    <div class="title">
      <h5><a routerLink="/thread-detail/{{ thread.Id }}">{{ thread.Title }}</a></h5>
    </div>
    <hr>
    <div class="content">
      <div class="description"> {{ thread.Description }}</div>
      <div class="date"> <span class="green"><br>Created on: </span>{{ thread.CreationDate }} <br> <br>
         <span class="green">by: </span>
          <a class="user-name" routerLink="/user-detail/{{ thread.UserId }}">{{ thread.Username }}</a>
      </div>
    </div>
  </div>
  <div class="replies-header-container">
    <h3 class="replies-header">Replies: </h3>
  </div>
  <div class="post-list">
      <div *ngFor="let post of postList" class="post-item">
        <div class="content">
          <div class="description"> {{ post.Content }}</div>
          <div class="date"> <span class="green"><br>Created on: </span>{{ post.CreationDate }}<br> <br>
             <span class="green">by: </span>
              <a class="user-name" routerLink="/user-detail/{{ post.UserId }}">{{ post.Username }}</a> <br> <br>
          </div>
        </div>
    </div>
  </div>
</div>
